cachetools==2.1.0
confusable-homoglyphs==3.1.1
dj-database-url==0.5.0
Django==1.11
django-bootstrap3==10.0.1
django-registration==2.4.1
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
gunicorn==19.8.1
httplib2==0.11.3
Pillow==5.1.0
psycopg2-binary==2.7.4
pyasn1==0.4.3
pyasn1-modules==0.2.1
python-decouple==3.1
pytz==2018.4
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
whitenoise==3.3.1
