africastalking==1.1.4
certifi==2018.4.16
chardet==3.0.4
confusable-homoglyphs==3.1.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==1.11
django-bootstrap3==10.0.1
django-registration==3.1.2
django-social-auth==0.7.28
googlemaps==2.5.1
gunicorn==19.8.1
httplib2==0.11.3
idna==2.6
oauth2==1.9.0.post1
oauthlib==2.1.0
Pillow==5.1.0
psycopg2-binary==2.7.4
PyJWT==1.6.4
python-decouple==3.1
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==1.0.0
selenium==3.12.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
splinter==0.8.0
urllib3==1.22
whitenoise==3.3.1
