{%extends 'Lot/base.html'%} {% load bootstrap3 %} {% load static %}
<!--  -->
{% block content %}
<nav class="main-menu">
            <ul>
                <li>
                    <a href="http://justinfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">

                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Lot Owner
                        </span>
                    </a>

                </li>
                <hr>
                {% for current in current_profile %}
                <li>
                    <a href="#">
                        <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                            <img src="{{current.avatar.url}}" class="img-circle" style="height:100px;width:100px;" alt="Image">
                        </span>
                    </a>
                </li>
                {% endfor %}
                <li>
                  <hr>
                    <a href="#">
                        <i class="fa fa-edit fa-2x"></i>
                        <span class="nav-text">
                           Edit profile
                        </span>
                    </a>
                </li>
                <li>
                  <hr>
                   <a href="#">
                       <i class="fa fa-plus fa-2x"></i>
                        <span class="nav-text">
                            Add lot details
                        </span>
                    </a>
                </li>
                <li>
                  <hr>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
              <hr>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
<br><br><br><br> {% for current in current_profile %}
<div class="container">
  <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">Lot Owner</h1>
</div>
<div class="container">
  <img src="{{current.avatar.url}}" class="img-responsive" style="height:35%;width:45%;" alt="Image">
  <h2 style="font-family: 'Raleway', sans-serif">Name: {{current.user.username}}</h2>
  <h2 style="font-family: 'Raleway', sans-serif">Phone_Number: {{current.phone_number}}</h2>
  <h2 style="font-family: 'Raleway', sans-serif">National_id: {{current.national_id}}</h2>
</div>

{% empty %}
<div class="container">

  <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">Create Profile</h1>
</div>
<div class="container">
  <form action="{% url 'lotOwner:Lot' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%} {% bootstrap_form form1 %}

    <input type="submit" class="btn btn-warning btn-lg" value="Create profile">
  </form>

</div>

{% endfor %}



<div class="container">
  <hr>
  {% for lot in lots %}
  <div class="col-md-4 col-sm-6 col-xs-12">


    <a href="{% url 'lotOwner:Location' lot.id %}"><img src="{{lot.Image_of_Lot.url}}" class="img-responsive" style="height:200%;width:200%" alt="Image"</a>

    <h2 style="font-family: 'Raleway', sans-serif">Name: {{lot.Name_of_lot}}</h2>
    <p style="font-family: 'Raleway', sans-serif">Total spaces: {{lot.Total_number_of_spaces}}</p>

    <p style="font-family: 'Raleway', sans-serif">Located at: {{lot.locations|default:"--" }}</p>


</div>
  {% empty %}
  <ul>
    <li>
      <h3 style="font-family: 'Raleway', sans-serif">No Lot information Available</h3>
    </li>
    <li>
      <h3 style="font-family: 'Raleway', sans-serif">To add Information click on the <b>Add Lot details</b> on the navbar</h3>
  </ul>
  {% endfor %}

</div>
<hr>


</div>
{% endblock %}
<!--  -->
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}

<!--we load the api from the specified api, the async attribute allows the page to




</script>
<!-we load the api from the specified api, the async attribute allows the page to

    load as the api loads the call back paramater executes the initMap() function that specifies the latitude and longitude of where the map will
    be centered
  -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmrKc7FjQwLm9vEtseo5LK7Z6M_1aPm5k&callback=initMap"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

{% endblock %}
