{%extends 'Lot/base.html'%} {% load bootstrap3 %} {% load static %} {% block content %}

<div class="container">
  <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">{{title}}</h1>
</div>

{% if current_profile %}
<div class="container">
  <img src="{{current_profile.avatar.url}}" class="img-responsive" style="" alt="Image">
  <h2 style="font-family: 'Raleway', sans-serif">Name: {{current_profile.user.username}}</h2>
  <h2 style="font-family: 'Raleway', sans-serif">Phone_Number: {{current_profile.phone_number}}</h2>
  <h2 style="font-family: 'Raleway', sans-serif">National_id: {{current_profile.national_id}}</h2>
</div>
{% else %}
<div class="container">
  <form action="{% url 'Lot' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%} {% bootstrap_form form1 %}
    <input type="submit" class="btn btn-warning btn-lg" value="Create profile">
  </form>
</div>
{% endif %}
<hr>


<div class="container">
  {% for lot in lots %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <h2 style="font-family: 'Raleway', sans-serif">Name: {{lot.Name_of_lot}}</h2>
    <h2 style="font-family: 'Raleway', sans-serif">Total spaces: {{lot.Total_number_of_spaces}}</h2>
    <img src="{{lot.Image_of_Lot.url}}" class="img-responsive" style="" alt="Image">
  </div>

  {% empty %}
  <ul>
    <li>
      <h3 style="font-family: 'Raleway', sans-serif">No Lot information Available</h3></li>
    <li>
      <h3 style="font-family: 'Raleway', sans-serif">To add Information click on the <b>Add Lot details</b> on the navbar</h3>
  </ul>
  {% endfor %}

</div>
<hr>


{% endblock %} {% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
<script>

</script>
<!--we load the api from the specified api, the async attribute allows the page to
    load as the api loads the call back paramater executes the initMap() function that specifies the latitude and longitude of where the map will
    be centered
  -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmrKc7FjQwLm9vEtseo5LK7Z6M_1aPm5k&callback=initMap"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

{% endblock %}
