<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-family: 'Raleway', sans-serif; font-size:35px;color:black;">Egesha</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search" action="#">
                    <div class="form-group navbar-right">
                        <input style="background:white;" type="text" class="form-control" placeholder="Search Location" name="name">
                    </div>

                </form>

                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#" style="font-family: 'Raleway', sans-serif;font-size:25px;color:black;">Add Car Details
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</body>