{%extends 'user/base.html'%} {% load bootstrap3 %} {% load static %} {% block content %} {{form.media}}
<div class="container" style="padding-top: 10%">
    <h1>
        <strong>Edit Profile</strong>
    </h1> {{form.media}}

    <form action="{%url 'driver:edit_profile' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%} {% bootstrap_form user_form%}{% bootstrap_form driver_form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>


</div> {%endblock%}