 {%extends "registration/base.html"%} {% load bootstrap3 %} {% load static%}
<!--  -->
{% block content %}
<div class="container-fluid" style="background-color:black; color: #D5DFD5; height:75px;">
  <div class="text-center">
    <h1 style="font-family: 'Lobster', cursive; margin-top:5px;"><strong>
     <a href="/"><img class=" img-fluid img-rounded" src="{% static '/images/logo.png' %}" width="65" height="65" alt="icon"></a>
     Egesha </strong></h1>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">

    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-4">
      <br>
      <!-- <img class="img-responsive img-rounded" src="{% static '/images/traffic.jpg'%}" alt="Carpool-R-Us" style="width:450px; height:370px"> -->
    </div>
    <div class="col-md-4">
      <br> {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="text-center" style="font-family: 'Raleway', sans-serif; color:black;font-size: 2em;"><strong>Login</strong></h2>
        </div>
        <div class="panel-body" style="font-family: 'Raleway', sans-serif;background-color:black; color: white;">
          <p>Don't have an account yet?
            <a href="/user/accounts/register" class="forgot" style="font-family: 'Raleway', sans-serif;"> Register here ...</a></p>
        </div>
        <div class="panel-body">
          <form action="/user/accounts/login/" method="post">
            {% csrf_token %} {% bootstrap_form form%}
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
            <img class="img-responsive img-fluid" src="{%static '/images/OR.png'%}" alt="">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                <img class="img-responsive img-thumbnail img-fluid" id="signInButton" src="{%static '/images/google1.png'%}" onclick="document.getElementById('signInButton').src='{%static '/images/google1.png'%}'">
               </a>
            <!-- <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br> -->
            <input type="hidden" name="next" value="/">

          </form>
        </div>

      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>
<br><br> {% endblock %}