{%extends "registration/base.html"%} {% load bootstrap3 %} {% load static%}
<!--  -->
{% block content %}
<div class="container-fluid" style="background-color:black; color: #D5DFD5; height:75px;">
  <div class="text-center">
    <h1 style="font-family: 'Lobster', cursive; margin-top:5px;"><strong>
     <a href="/"><img class=" img-fluid img-rounded" src="{% static '/images/logo.png' %}" width="65" height="65" alt="icon"></a>
     Egesha </strong></h1>
  </div>
</div>
<br>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <br>
      <!-- <img class="img-responsive img-rounded" src="{% static '/images/busy.jpg'%}" alt="Carpool-R-Us" style="width:800px; height:750px"> -->
    </div>
    <div class="col-md-6">
      <br> {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="text-center" style="font-family: 'Raleway', sans-serif; color:black;font-size: 2em;"><strong>Sign Up</strong></h2>
        </div>
        <div class="panel-body" style="font-family: 'Raleway', sans-serif;background-color:black; color: white;">
          <p>Already have an account?
            <a href="/user/accounts/login" class="forgot" style="font-family: 'Raleway', sans-serif;"> Login here ...</a></p>
        </div>

        <div class="panel-body">
          <form action="/user/accounts/register/" method="post">
            <div class="text-center">
              <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                  <img class="img-responsive img-fluid " id="signUpButton" src="{%static '/images/google2.png'%}" onclick="document.getElementById('signUpButton').src='{%static '/images/google2.png'%}'">
                 </a>
            </div>
            {% csrf_token %} {% bootstrap_form form%}
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Create Account</button>
            </div>

            <input type="hidden" name="next" value="/">
          </form>
        </div>

      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>

{% endblock %}