{%extends 'base.html'%}{% load bootstrap3 %}{% load static%}
<!--  -->
{% block content %}


<!--  -->
<hr>
<form>
  <a class="flwpug_getpaid" data-PBFPubKey="FLWPUBK-896ce162aa086af4c7d388d20fe07a87-X" data-txref="rave-123456" data-amount="5" data-customer_email="user@example.com" data-currency="KSH" payment_method: "mpesa", data-pay_button_text="Pay Now" data-country="KY"
    data-redirect_url="{%url 'landing'%}"></a>

  <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
</form>


{%endblock%}