{%extends 'lotManager/base.html'%}{% load bootstrap3 %}{% load static%}
<!--  -->
{% block content %}

<style>
.checks{
  padding-top: 10%;
}
.cls{
  text-align: centre;
  padding-left: 39%;
}
</style>



<br><br><br><br><br><br><br>

<div class=" cls">
  <h2>Booked Parking</h2>
</div>


<div class="container">


<div class="row">
  <div class="col-md-4"> <h3>Driver Name</h3></div>

  <div class="col-md-4"><h3>Car Make</h3></div>

  <div class="col-md-4"><h3>Car Plate</h3></div>
</div>

</div>








<div class="container">
  {% for cardetail in cardetails %}
   <div class="row">
       <div class="col-md-4">{{user.username }} </div>
       <div class="col-md-4">{{cardetail.car_make}}</div>
       <div class="col-md-4">{{cardetail.car_plate}}</div>
     </div>
   {% endfor %}
</div>




 <!-- bootstrap cdn js link -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{%endblock%}